<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
    <authentication mode="Forms">
      <forms timeout="50" />
    </authentication>

    <sessionState timeout="60" />
    
  </system.web>
  <appSettings>
    <add key="GoogleAPIKey" value="AIzaSyC1cg130KGybP3q2b_9lHvUSax0ghLewXU" />
  </appSettings>
  <connectionStrings>
    <!--<add name="desktop-mgeob2p\sqlexpress.ProjectEnd.dbo" connectionString="Data Source=DESKTOP-MGEOB2P\SQLEXPRESS;Initial Catalog=ProjectEnd;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="ProjectEndConnectionString" connectionString="Data Source=DESKTOP-MGEOB2P\SQLEXPRESS;Initial Catalog=ProjectEnd;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <add name="TDBConnectionString" connectionString="Data Source=DESKTOP-MGEOB2P\SQLEXPRESS;Initial Catalog=TDB;Integrated Security=True" providerName="System.Data.SqlClient" />
    <!--<add name="TutorialConnectionString" connectionString="Data Source=DESKTOP-MGEOB2P\SQLEXPRESS;Initial Catalog=Tutorial;Integrated Security=True" providerName="System.Data.SqlClient" />-->
  </connectionStrings>

 


</configuration>